.layout{
  height: 100%;
  /* border: 0.5px solid black; */
  /* background-image: linear-gradient(to right,  white,rgb(235, 227, 235)); */
  background-color: white;
  box-sizing: border-box;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: 10% 85% 5%; 
}
/* .layout> * {
 
} */

.layout>header, footer {
  grid-column: span 12;
}

.layout>aside {
  grid-column: span 1;
  border: 0.5px solid black;  

}

.layout>main {
  grid-column: span 11; 
  border: 0.5px solid black;  
} 
